.loading_container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  max-width: 100%;
  margin: 0 !important;
  display: flex;
  align-items: center;
}

.spinner_custom {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  color: #4b2aad;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
